%h2 Breakdown of net position

%ul#details
  %li
    Creditor name:
    = @debt_portfolio_position.creditor_name
  %li
    Amount:
    = humanized_money_with_symbol @debt_portfolio_position.net_amount

%h3 Debtors:

%table#debtors
  %thead
    %tr
      %th Shareholder
      %th Owes
      %th Owed
      %th Net
  %tbody
    = render :partial => 'debtor', :collection => @debt_portfolio_position.debt_positions
%p


= link_to 'Back to debt list', admin_debts_path

