%h1 All Expenses

%table#expenses
  %thead
    %tr
      %th Incurred Date
      %th Amount
      %th Category
      %th Remarks
      %th Sinking?
      %th Who
      %th More Info
  %tbody
    = render :partial => 'expense', :collection => @expenses

= link_to 'Add new expense', new_admin_expense_path
